* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 90px;
}

.flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {

    height: var(--header-height);
    
    background-color: lavender;
}

main {
    width: 100vw;
    height: calc(100vh - var(--header-height));

    text-align: center;
}

h1 {
    font-size: 3em;
    color: purple;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

.btn {
    border-radius: 10px;
}

.btn-group-create {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    width: 70%;
    padding: 20px;
}

.btn-create-number {
    width: 60vw;
    height: 10vh;
    margin: 10px auto;
    font-size: 2em;
    background-color: lavender;
}

.btn-create-number:focus {
    background-color: aqua;
}

#start {
    height: 7vh;
    width: 40vw;
    margin: 10px auto;
    font-size: 2em;
}

.tracker {
    visibility: hidden;

    display: flex;
    /* flex-direction: column; */

    height: 100%;
}

.user {
    width: 50%;
}

.user1 {
    background-color: lightcyan;
}

.user2 {
    background-color: lightgoldenrodyellow;
}